:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --lightAny: #64b880;
  --mainWhite:#f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --lightGreen: rgb(119, 226, 119);
  --mainGreen: rgb(32, 87, 7);
}
body{
  font-family: 'Metal Mania', cursive !important;
  background: var(--lightAny) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'permanent-marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-green{
  color: var(--mainGreen);
}
.text-bright{
  color: var(--lightBlue);
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}